# Ignorar directorios de vendor y node_modules
/src/vendor
/src/node_modules

# Ignorar archivos de entorno
/src/.env
/src/.env.example

# Ignorar archivos de almacenamiento y caché
/src/storage/*.key
/src/bootstrap/cache/*.php
/src/upload/*.pdf

# Ignorar directorios de caché de Composer
/src/vendor/composer/installed.json
/src/vendor/composer/autoload_static.php

# Ignorar logs
/src/storage/logs/*.log

# Ignorar los archivos generados por PHPUnit
/.phpunit.result.cache

# Ignorar archivos de IDE (si se usan)
.idea/
.vscode/
.DS_Store
npm-debug.log
yarn-error.log

# Ignorar los archivos de configuración del entorno local
# Si tienes archivos de configuración específicos para tu entorno local,
# puedes listarlos aquí. Por ejemplo:
# config/database.php
# config/services.php

# Ignorar los archivos de compilación de frontend
/src/public/hot
/src/public/build
/src/public/css
/src/public/js

# Ignorar los archivos de depuración
*.sqlite
*.log
*.bak
*.swp
.vagrant/

# Ignorar el directorio de caché de rutas
/src/src/bootstrap/cache/routes-v7.php
/src/src/bootstrap/cache/config.php
/src/src/bootstrap/cache/services.php

# Ignorar los archivos de mezcla de Webpack (si se usan)
/src/mix-manifest.json

# Ignorar el archivo de depuración de Composer
/src/composer.phar

# Ignorar el archivo de reporte de errores
/src/storage/framework/cache/data/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*

# Ignorar archivos específicos de Laravel
Homestead.json
Homestead.yaml
!Homestead.yaml.example
.env.*.local
.env.backup